hr {
  margin-inline-start: 0;
  width: 45px;
  border-top-width: 1px;
  border-top-color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

nav a {
  text-decoration: none;
}

.nav-logo {
  font-size: 20px;
}

.nav-items {
  width: 250px;
}

.nav-items,
.nav-icons {
  display: flex;
  justify-content: space-between;
}

.nav-icons {
  width: 33.3333333333%;
  transform: translateY(0.5px); /* slight fudge factor for vertical alignment */
}

/* Below 'phablet' res */
@media (max-width: 549px) {
  .nav-items {
    width: 215px;
  }

  .nav-icons {
    width: 40%;
  }

  .header-column:nth-of-type(1) {
    display: none;
  }
}

/* Below 'mobile' res */
@media (max-width: 399px) {
  .nav-items {
    position: absolute;
    left: 115px;
  }

  .nav-icons {
    width: 45%;
  }

  .nav-link {
    display: none;
  }
}

.header-column:nth-of-type(2) {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-content p {
  font-size: 17px;
}

img {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px #c0c0c0;
}

.header-content p,
.bio-content p {
  line-height: 2;
}

.work-content.content-details.first-row {
  margin-top: 10px;
}

.work-content.content-details {
  margin-top: 100px;
}

@media (max-width: 749px) {
  .work-content.content-details.first-row:first-child {
    margin-top: 10px;
  }

  .work-content.content-details.first-row {
    margin-top: 15px;
  }

  .work-content.content-details {
    margin-top: 15px;
  }
}

@media (max-width: 549px) {
  .work-content.content-details.first-row:first-child {
    margin-top: 0;
  }
}

.work-content a[href] img:hover {
  box-shadow: 0px 0px 5px 0px #a0a0a0; /* only darken box shadow on preview image if it is a link */
}

.work-content-header {
  margin-bottom: 0;
}

.work-content-url {
  display: block;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.work-content-client {
  margin-bottom: 15px;
}

.work-content-description {
  margin-bottom: 100px;
}

@media (min-width: 750px) {
  .work-content-description {
    margin-bottom: 0;
  }
}

.truncate-bottom-margin {
  margin-bottom: 0;
}

.old-portfolio-link {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 0;
  text-align: right;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content hr {
  margin-inline-start: auto;
}

.footer-content h5 {
  margin-bottom: 15px;
}

.footer-content p {
  text-align: center;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.copyright {
  position: absolute;
  margin: 0;
  bottom: 12px;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 414px) {
  .bio-section.section-container {
    height: 100%;
    margin-bottom: 50px;
  }
}

/* Column width overrides */

@media (max-width: 749px) and (min-width: 550px) {
  .bio-content.columns {
    width: 100%;
  }
}

@media (max-width: 749px) and (min-width: 550px) {
  .work-content.content-details.columns {
    width: 100%;
    margin-left: 0;
  }
}

/* Scroll button */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

.disabled {
  display: none;
}

.scroll-button-container {
  position: fixed;
  bottom: 75px;
  left: 50%;
}

.scroll-button {
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.scroll-button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(34, 34, 34);
  border-bottom: 1px solid rgb(34, 34, 34);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arrow 1.5s infinite;
  animation: arrow 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes arrow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
