hr {
  margin-inline-start: 0;
  width: 45px;
  border-top-width: 1px;
  border-top-color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

nav a {
  text-decoration: none;
}

.nav-logo {
  font-weight: 600;
}

.nav-items {
  width: 260px;
}

.nav-items,
.nav-icons {
  display: flex;
  justify-content: space-between;
}

.nav-icons {
  width: 35%;
  transform: translateY(0.5px); /* slight fudge factor for vertical alignment */
}

/* below tablet res */
@media (max-width: 767px) {
  .nav-items {
    width: 220px;
  }
}

/* below skeleton's definition of 'mobile' */
@media (max-width: 399px) {
  .nav-items {
    position: absolute;
    left: 115px;
  }

  .nav-icons {
    width: 45%;
  }

  .nav-link {
    display: none;
  }
}
